/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.App .light {
  background-color: #ffffff;
  color: #000000;
}

.App .dark {
  background-color: #121212;
  color: #ffffff;
} */

